<html>
<head>
<title>view node</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h1>This is home.mustache</h1>
    <img src="/images/node-express.png" />>
</body>
</html>